* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: wheat;
}
div.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

div.home-content {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

div.item {
    display: block;
}

div.nav-column {
    list-style-type: none;
    background-color: #333;
    top: 0;
    width: 100%;
    margin: auto;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

p.but {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-flex;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

h4 {
    display: block;
    margin-block-start: 10em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.row {
    margin-top: 3rem;
    margin-bottom: 3rem;
    column-count: 3;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 0 3rem;
}
.nav-row {
    display: flex;
    justify-content: center;
}

.column {
    margin-top: 3rem;
    margin-bottom: 3rem;
    column-count: 3;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.column > p {
    text-align: center;
    font-weight: 100%;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

/* img{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
} */

 .raccoon{
    width: auto;
} 
#rac{
    width: 100%;
}
